/* .input-text {
    width: auto;
} */

/* .card {
    width: auto;
    margin-bottom: 15px;
} */

.contractForm .input {
    display: inline-block;

    width: 30%;
    height: 50px;
}

.productForm .input {
    display: inline-block;

    margin: 0px 20px;

    width: 10%;
    height: auto;
}

.contractForm {
    width: 100%;
    height: auto;
}


.productForm {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}