/* .input-text {
    width: auto;
} */

.row .input{
    display: inline-block;
    flex-direction: row;
    border: 1px solid black;

    width: 30%;
    height: 50px;
}

.row {
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}
